// ==========================================================================
// Base
// ==========================================================================

html {
    @extend %background-color_aliceblue;
    @extend %font-family_sans-serif;
}

body {
    @extend %margin_0;
}






// ==========================================================================
   $module: "section";
// ==========================================================================

%#{$module} {
    @extend %padding_m;
}






// ==========================================================================
   $module: "header-bar";
// ==========================================================================

.#{$module} {
    @extend %padding-top_xxl;
    @extend %padding-right_m;
    @extend %padding-bottom_xxl;
    @extend %padding-left_m;
    @extend %text-align_center;

    @at-root #{&}__title {
        @extend %margin-top_0;
        @extend %margin-bottom_0;
        @extend %font-style_italic;
        @extend %font-weight_900;
        @extend %font-size_xxl;
        @extend %font-family_playfair-display;
        @extend %color_orangered;
    }

    @at-root #{&}__sub-title {
        @extend %font-size_m;
    }
}






// ==========================================================================
   $module: "content";
// ==========================================================================

.#{$module} {
    @extend %section;
}






// ==========================================================================
   $module: "card";
// ==========================================================================

.#{$module} {
    @extend %border-width_s;
    @extend %border-style_solid;
    @extend %border-color_orangered;
    @extend %padding_l;
    @extend %background-color_white;

    @at-root #{&}__title {
        @extend %margin-top_0;
        @extend %margin-bottom_0;
    }

    @at-root #{&}__description {
        @extend %font-family_serif;
    }
}






// ==========================================================================
   $module: "button";
// ==========================================================================

.#{$module} {
    @extend %margin-bottom_xs;
    @extend %border-width_xxs;
    @extend %border-style_solid;
    @extend %border-radius_pill;
    @extend %padding-top_s;
    @extend %padding-right_m;
    @extend %padding-bottom_s;
    @extend %padding-left_m;
    @extend %display_inline-block;
    @extend %text-decoration_none;
    @extend %color_gray;

    &:hover,
    &:focus {
        @extend %color_black;
    }

    &:active {
        @extend %background-color_silver;
    }

    @at-root #{&}#{&}--success {
        @extend %color_limegreen;

        &:hover,
        &:focus {
            @extend %color_mediumseagreen;
        }

        &:active {
            @extend %border-color_mediumseagreen;
            @extend %color_white;
            @extend %background-color_mediumseagreen;
        }
    }
}






// ==========================================================================
   $module: "footer-bar";
// ==========================================================================

.#{$module} {
    @extend %section;
    @extend %font-family_cursive;
    @extend %text-align_center;
    @extend %color_white;
    @extend %background-color_orangered;
}
