// ==========================================================================
   $module: "html", "body";
// ==========================================================================

html {
    @extend %background-color_paleturquoise;
    @extend %font-family_sans-serif;
}

body {
    @extend %margin_0;
}






// ==========================================================================
   $module: "section";
// ==========================================================================

%section {
    @extend %padding_m;
}






// ==========================================================================
   $module: "header-bar";
// ==========================================================================

.#{$module} {
    @extend %section;
    @extend %background-color_teal;
    @extend %border-bottom-width_xs;
}

    .#{$module}__title {
        @extend %margin-top_0;
        @extend %margin-bottom_0;
        @extend %color_white;
    }






// ==========================================================================
   $module: "content";
// ==========================================================================

.content {
    @extend %section;
}






// ==========================================================================
   $module: "card";
// ==========================================================================

.#{$module} {
    @extend %margin_m;
    @extend %padding_l;
    @extend %background-color_skyblue;
}

    .#{$module}__title {
        @extend %margin-top_0;
        @extend %margin-bottom_0;
        @extend %color_midnightblue;
    }

    .#{$module}__body {
        @extend %color_purple;
    }






// ==========================================================================
   $module: "btn";
// ==========================================================================

%#{$module} {
    @extend %border-width_xxs;
    @extend %border-style_solid;
    @extend %border-radius_pill;
    @extend %padding-top_s;
    @extend %padding-right_m;
    @extend %padding-bottom_s;
    @extend %padding-left_m;
    @extend %display_inline-block;
    @extend %text-decoration_none;
    @extend %color_white;

    &:hover,
    &:focus {
        @extend %background-color_green;
    }

    &:active {
        @extend %color_gold;
    }
}

.#{$module}--success {
    @extend %btn;
    @extend %background-color_limegreen;
}






// ==========================================================================
   $module: "footer-bar";
// ==========================================================================

.footer-bar {
    @extend %section;
    @extend %font-family_cursive;
    @extend %text-align_center;
    @extend %color_white;
    @extend %background-color_gray;
}
