$items:
    width xxs 1rem,
    width xs 2rem,
    width s 4rem,
    width m 8rem,
    width l 16rem,
    width xl 32rem,
    width xxl 64rem,
    width 25 25%,
    width 50 50%,
    width 75 75%,
    width 100 100%,
    width border-box border-box,
    width content-box content-box,
    width max-content max-content,
    width min-content min-content,
    width available available,
    width fit-content fit-content,
    width auto auto,
    width inherit inherit,

    min-width 100 100%,
    min-width 75 75%,
    min-width 50 50%,
    min-width 25 25%,
    min-width xxs 1rem,
    min-width xs 2rem,
    min-width s 4rem,
    min-width m 8rem,
    min-width l 16rem,
    min-width xl 32rem,
    min-width xxl 48rem,
    min-width max-content max-content,
    min-width min-content min-content,
    min-width fit-content fit-content,
    min-width fill-available fill-available,

    max-width 100 100%,
    max-width 75 75%,
    max-width 50 50%,
    max-width 25 25%,
    max-width xxs 1rem,
    max-width xs 2rem,
    max-width s 4rem,
    max-width m 8rem,
    max-width l 16rem,
    max-width xl 32rem,
    max-width xxl 48rem,
    max-width max-content max-content,
    max-width min-content min-content,
    max-width fit-content fit-content,
    max-width fill-available fill-available,

    height auto auto,
    height 10 10%,
    height 25 25%,
    height 50 50%,
    height 75 75%,
    height 100 100%,
    height xxs 1rem,
    height xs 2rem,
    height s 4rem,
    height m 8rem,
    height l 16rem,
    height xl 32rem,
    height xxl 48rem,

    min-height 100 100%,
    min-height 75 75%,
    min-height 50 50%,
    min-height 25 25%,
    min-height xxs 1rem,
    min-height xs 2rem,
    min-height s 4rem,
    min-height m 8rem,
    min-height l 16rem,
    min-height xl 32rem,
    min-height xxl 48rem,
    min-height max-content max-content,
    min-height min-content min-content,
    min-height fit-content fit-content,
    min-height fill-available fill-available,

    max-height 100 100%,
    max-height 75 75%,
    max-height 50 50%,
    max-height 25 25%,
    max-height xxs 1rem,
    max-height xs 2rem,
    max-height s 4rem,
    max-height m 8rem,
    max-height l 16rem,
    max-height xl 32rem,
    max-height xxl 48rem,
    max-height max-content max-content,
    max-height min-content min-content,
    max-height fit-content fit-content,
    max-height fill-available fill-available,

    margin 0 0,
    margin xxs 0.125rem,
    margin xs 0.25rem,
    margin s 0.5rem,
    margin m 1rem,
    margin l 2rem,
    margin xl 4rem,
    margin xxl 8rem,

    margin-top 0 0,
    margin-top xxs 0.125rem,
    margin-top xs 0.25rem,
    margin-top s 0.5rem,
    margin-top m 1rem,
    margin-top l 2rem,
    margin-top xl 4rem,
    margin-top xxl 8rem,

    margin-right 0 0,
    margin-right xxs 0.125rem,
    margin-right xs 0.25rem,
    margin-right s 0.5rem,
    margin-right m 1rem,
    margin-right l 2rem,
    margin-right xl 4rem,
    margin-right xxl 8rem,

    margin-bottom 0 0,
    margin-bottom xxs 0.125rem,
    margin-bottom xs 0.25rem,
    margin-bottom s 0.5rem,
    margin-bottom m 1rem,
    margin-bottom l 2rem,
    margin-bottom xl 4rem,
    margin-bottom xxl 8rem,

    margin-left 0 0,
    margin-left xxs 0.125rem,
    margin-left xs 0.25rem,
    margin-left s 0.5rem,
    margin-left m 1rem,
    margin-left l 2rem,
    margin-left xl 4rem,
    margin-left xxl 8rem,

    padding 0 0,
    padding xxs 0.125rem,
    padding xs 0.25rem,
    padding s 0.5rem,
    padding m 1rem,
    padding l 2rem,
    padding xl 4rem,
    padding xxl 8rem,

    padding-top 0 0,
    padding-top xxs 0.125rem,
    padding-top xs 0.25rem,
    padding-top s 0.5rem,
    padding-top m 1rem,
    padding-top l 2rem,
    padding-top xl 4rem,
    padding-top xxl 8rem,

    padding-right 0 0,
    padding-right xxs 0.125rem,
    padding-right xs 0.25rem,
    padding-right s 0.5rem,
    padding-right m 1rem,
    padding-right l 2rem,
    padding-right xl 4rem,
    padding-right xxl 8rem,

    padding-bottom 0 0,
    padding-bottom xxs 0.125rem,
    padding-bottom xs 0.25rem,
    padding-bottom s 0.5rem,
    padding-bottom m 1rem,
    padding-bottom l 2rem,
    padding-bottom xl 4rem,
    padding-bottom xxl 8rem,

    padding-left 0 0,
    padding-left xxs 0.125rem,
    padding-left xs 0.25rem,
    padding-left s 0.5rem,
    padding-left m 1rem,
    padding-left l 2rem,
    padding-left xl 4rem,
    padding-left xxl 8rem,

    color pink #ffc0cb,
    color lightpink #ffb6c1,
    color hotpink #ff69b4,
    color deeppink #ff1493,
    color palevioletred #db7093,
    color mediumvioletred #c71585,
    color lightsalmon #ffa07a,
    color salmon #fa8072,
    color darksalmon #e9967a,
    color lightcoral #f08080,
    color indianred #cd5c5c,
    color crimson #dc143c,
    color firebrick #b22222,
    color darkred #8b0000,
    color red #ff0000,
    color orangered #ff4500,
    color tomato #ff6347,
    color coral #ff7f50,
    color darkorange #ff8c00,
    color orange #ffa500,
    color gold #ffd700,
    color yellow #ffff00,
    color lightyellow #ffffe0,
    color lemonchiffon #fffacd,
    color lightgoldenrodyellow #fafad2,
    color papayawhip #ffefd5,
    color moccasin #ffe4b5,
    color peachpuff #ffdab9,
    color palegoldenrod #eee8aa,
    color khaki #f0e68c,
    color darkkhaki #bdb76b,
    color cornsilk #fff8dc,
    color blanchedalmond #ffebcd,
    color bisque #ffe4c4,
    color navajowhite #ffdead,
    color wheat #f5deb3,
    color burlywood #deb887,
    color tan #d2b48c,
    color rosybrown #bc8f8f,
    color sandybrown #f4a460,
    color goldenrod #daa520,
    color darkgoldenrod #b8860b,
    color peru #cd853f,
    color chocolate #d2691e,
    color saddlebrown #8b4513,
    color sienna #a0522d,
    color brown #a52a2a,
    color maroon #800000,
    color darkolivegreen #556b2f,
    color olive #808000,
    color olivedrab #6b8e23,
    color yellowgreen #9acd32,
    color limegreen #32cd32,
    color lime #00ff00,
    color lawngreen #7cfc00,
    color chartreuse #7fff00,
    color greenyellow #adff2f,
    color springgreen #00ff7f,
    color mediumspringgreen #00fa9a,
    color lightgreen #90ee90,
    color palegreen #98fb98,
    color darkseagreen #8fbc8f,
    color mediumseagreen #3cb371,
    color seagreen #2e8b57,
    color forestgreen #228b22,
    color green #008000,
    color darkgreen #006400,
    color mediumaquamarine #66cdaa,
    color aqua #00ffff,
    color cyan #00ffff,
    color lightcyan #e0ffff,
    color paleturquoise #afeeee,
    color aquamarine #7fffd4,
    color turquoise #40e0d0,
    color mediumturquoise #48d1cc,
    color darkturquoise #00ced1,
    color lightseagreen #20b2aa,
    color cadetblue #5f9ea0,
    color darkcyan #008b8b,
    color teal #008080,
    color lightsteelblue #b0c4de,
    color powderblue #b0e0e6,
    color lightblue #add8e6,
    color skyblue #87ceeb,
    color lightskyblue #87cefa,
    color deepskyblue #00bfff,
    color dodgerblue #1e90ff,
    color cornflowerblue #6495ed,
    color steelblue #4682b4,
    color royalblue #4169e1,
    color blue #0000ff,
    color mediumblue #0000cd,
    color darkblue #00008b,
    color navy #000080,
    color midnightblue #191970,
    color lavender #e6e6fa,
    color thistle #d8bfd8,
    color plum #dda0dd,
    color violet #ee82ee,
    color orchid #da70d6,
    color fuchsia #ff00ff,
    color magenta #ff00ff,
    color mediumorchid #ba55d3,
    color mediumpurple #9370db,
    color blueviolet #8a2be2,
    color darkviolet #9400d3,
    color darkorchid #9932cc,
    color darkmagenta #8b008b,
    color purple #800080,
    color indigo #4b0082,
    color darkslateblue #483d8b,
    color slateblue #6a5acd,
    color mediumslateblue #7b68ee,
    color white #ffffff,
    color snow #fffafa,
    color honeydew #f0fff0,
    color mintcream #f5fffa,
    color azure #f0ffff,
    color aliceblue #f0f8ff,
    color ghostwhite #f8f8ff,
    color whitesmoke #f5f5f5,
    color seashell #fff5ee,
    color beige #f5f5dc,
    color oldlace #fdf5e6,
    color floralwhite #fffaf0,
    color ivory #fffff0,
    color antiquewhite #faebd7,
    color linen #faf0e6,
    color lavenderblush #fff0f5,
    color mistyrose #ffe4e1,
    color gainsboro #dcdcdc,
    color lightgray #d3d3d3,
    color silver #c0c0c0,
    color darkgray #a9a9a9,
    color gray #808080,
    color dimgray #696969,
    color lightslategray #778899,
    color slategray #708090,
    color darkslategray #2f4f4f,
    color black #000000,

    background-color pink #ffc0cb,
    background-color lightpink #ffb6c1,
    background-color hotpink #ff69b4,
    background-color deeppink #ff1493,
    background-color palevioletred #db7093,
    background-color mediumvioletred #c71585,
    background-color lightsalmon #ffa07a,
    background-color salmon #fa8072,
    background-color darksalmon #e9967a,
    background-color lightcoral #f08080,
    background-color indianred #cd5c5c,
    background-color crimson #dc143c,
    background-color firebrick #b22222,
    background-color darkred #8b0000,
    background-color red #ff0000,
    background-color orangered #ff4500,
    background-color tomato #ff6347,
    background-color coral #ff7f50,
    background-color darkorange #ff8c00,
    background-color orange #ffa500,
    background-color gold #ffd700,
    background-color yellow #ffff00,
    background-color lightyellow #ffffe0,
    background-color lemonchiffon #fffacd,
    background-color lightgoldenrodyellow #fafad2,
    background-color papayawhip #ffefd5,
    background-color moccasin #ffe4b5,
    background-color peachpuff #ffdab9,
    background-color palegoldenrod #eee8aa,
    background-color khaki #f0e68c,
    background-color darkkhaki #bdb76b,
    background-color cornsilk #fff8dc,
    background-color blanchedalmond #ffebcd,
    background-color bisque #ffe4c4,
    background-color navajowhite #ffdead,
    background-color wheat #f5deb3,
    background-color burlywood #deb887,
    background-color tan #d2b48c,
    background-color rosybrown #bc8f8f,
    background-color sandybrown #f4a460,
    background-color goldenrod #daa520,
    background-color darkgoldenrod #b8860b,
    background-color peru #cd853f,
    background-color chocolate #d2691e,
    background-color saddlebrown #8b4513,
    background-color sienna #a0522d,
    background-color brown #a52a2a,
    background-color maroon #800000,
    background-color darkolivegreen #556b2f,
    background-color olive #808000,
    background-color olivedrab #6b8e23,
    background-color yellowgreen #9acd32,
    background-color limegreen #32cd32,
    background-color lime #00ff00,
    background-color lawngreen #7cfc00,
    background-color chartreuse #7fff00,
    background-color greenyellow #adff2f,
    background-color springgreen #00ff7f,
    background-color mediumspringgreen #00fa9a,
    background-color lightgreen #90ee90,
    background-color palegreen #98fb98,
    background-color darkseagreen #8fbc8f,
    background-color mediumseagreen #3cb371,
    background-color seagreen #2e8b57,
    background-color forestgreen #228b22,
    background-color green #008000,
    background-color darkgreen #006400,
    background-color mediumaquamarine #66cdaa,
    background-color aqua #00ffff,
    background-color cyan #00ffff,
    background-color lightcyan #e0ffff,
    background-color paleturquoise #afeeee,
    background-color aquamarine #7fffd4,
    background-color turquoise #40e0d0,
    background-color mediumturquoise #48d1cc,
    background-color darkturquoise #00ced1,
    background-color lightseagreen #20b2aa,
    background-color cadetblue #5f9ea0,
    background-color darkcyan #008b8b,
    background-color teal #008080,
    background-color lightsteelblue #b0c4de,
    background-color powderblue #b0e0e6,
    background-color lightblue #add8e6,
    background-color skyblue #87ceeb,
    background-color lightskyblue #87cefa,
    background-color deepskyblue #00bfff,
    background-color dodgerblue #1e90ff,
    background-color cornflowerblue #6495ed,
    background-color steelblue #4682b4,
    background-color royalblue #4169e1,
    background-color blue #0000ff,
    background-color mediumblue #0000cd,
    background-color darkblue #00008b,
    background-color navy #000080,
    background-color midnightblue #191970,
    background-color lavender #e6e6fa,
    background-color thistle #d8bfd8,
    background-color plum #dda0dd,
    background-color violet #ee82ee,
    background-color orchid #da70d6,
    background-color fuchsia #ff00ff,
    background-color magenta #ff00ff,
    background-color mediumorchid #ba55d3,
    background-color mediumpurple #9370db,
    background-color blueviolet #8a2be2,
    background-color darkviolet #9400d3,
    background-color darkorchid #9932cc,
    background-color darkmagenta #8b008b,
    background-color purple #800080,
    background-color indigo #4b0082,
    background-color darkslateblue #483d8b,
    background-color slateblue #6a5acd,
    background-color mediumslateblue #7b68ee,
    background-color white #ffffff,
    background-color snow #fffafa,
    background-color honeydew #f0fff0,
    background-color mintcream #f5fffa,
    background-color azure #f0ffff,
    background-color aliceblue #f0f8ff,
    background-color ghostwhite #f8f8ff,
    background-color whitesmoke #f5f5f5,
    background-color seashell #fff5ee,
    background-color beige #f5f5dc,
    background-color oldlace #fdf5e6,
    background-color floralwhite #fffaf0,
    background-color ivory #fffff0,
    background-color antiquewhite #faebd7,
    background-color linen #faf0e6,
    background-color lavenderblush #fff0f5,
    background-color mistyrose #ffe4e1,
    background-color gainsboro #dcdcdc,
    background-color lightgray #d3d3d3,
    background-color silver #c0c0c0,
    background-color darkgray #a9a9a9,
    background-color gray #808080,
    background-color dimgray #696969,
    background-color lightslategray #778899,
    background-color slategray #708090,
    background-color darkslategray #2f4f4f,
    background-color black #000000,

    background-repeat no-repeat no-repeat,
    background-repeat repeat-x repeat-x,
    background-repeat repeat-y repeat-y,
    background-repeat repeat repeat,
    background-repeat space space,
    background-repeat round round,

    background-clip border-box border-box,
    background-clip padding-box padding-box,
    background-clip content-box content-box,

    background-size cover cover,
    background-size contain contain,
    background-size 25 25%,
    background-size 50 50%,
    background-size 75 75%,
    background-size 100 100%,
    background-size auto auto,

    background-image url url(),
    background-image none none,
    background-image inherit inherit,

    background-position 0 0,
    background-position none none,
    background-position inherit inherit,

    background-repeat no-repeat no-repeat,
    background-repeat repeat-x repeat-x,
    background-repeat repeat-y repeat-y,
    background-repeat repeat repeat,
    background-repeat space space,
    background-repeat round round,

    background-size cover cover,
    background-size contain contain,
    background-size 25 25%,
    background-size 50 50%,
    background-size 75 75%,
    background-size 100 100%,
    background-size auto auto,

    background-clip border-box border-box,
    background-clip padding-box padding-box,
    background-clip content-box content-box,

    border-width xxs 1px,
    border-width xs 2px,
    border-width s 4px,
    border-width m 8px,
    border-width l 16px,
    border-width xl 32px,
    border-width xxl 64px,

    border-top-width xxs 1px,
    border-top-width xs 2px,
    border-top-width s 4px,
    border-top-width m 8px,
    border-top-width l 16px,
    border-top-width xl 32px,
    border-top-width xxl 64px,

    border-right-width xxs 1px,
    border-right-width xs 2px,
    border-right-width s 4px,
    border-right-width m 8px,
    border-right-width l 16px,
    border-right-width xl 32px,
    border-right-width xxl 64px,

    border-bottom-width xxs 1px,
    border-bottom-width xs 2px,
    border-bottom-width s 4px,
    border-bottom-width m 8px,
    border-bottom-width l 16px,
    border-bottom-width xl 32px,
    border-bottom-width xxl 64px,

    border-left-width xxs 1px,
    border-left-width xs 2px,
    border-left-width s 4px,
    border-left-width m 8px,
    border-left-width l 16px,
    border-left-width xl 32px,
    border-left-width xxl 64px,

    border-style none none,
    border-style hidden hidden,
    border-style dotted dotted,
    border-style dashed dashed,
    border-style solid solid,
    border-style double double,
    border-style groove groove,
    border-style ridge ridge,
    border-style inset inset,
    border-style outset outset,

    border-top-style none none,
    border-top-style hidden hidden,
    border-top-style dotted dotted,
    border-top-style dashed dashed,
    border-top-style solid solid,
    border-top-style double double,
    border-top-style groove groove,
    border-top-style ridge ridge,
    border-top-style inset inset,
    border-top-style outset outset,

    border-right-style none none,
    border-right-style hidden hidden,
    border-right-style dotted dotted,
    border-right-style dashed dashed,
    border-right-style solid solid,
    border-right-style double double,
    border-right-style groove groove,
    border-right-style ridge ridge,
    border-right-style inset inset,
    border-right-style outset outset,

    border-bottom-style none none,
    border-bottom-style hidden hidden,
    border-bottom-style dotted dotted,
    border-bottom-style dashed dashed,
    border-bottom-style solid solid,
    border-bottom-style double double,
    border-bottom-style groove groove,
    border-bottom-style ridge ridge,
    border-bottom-style inset inset,
    border-bottom-style outset outset,

    border-left-style none none,
    border-left-style hidden hidden,
    border-left-style dotted dotted,
    border-left-style dashed dashed,
    border-left-style solid solid,
    border-left-style double double,
    border-left-style groove groove,
    border-left-style ridge ridge,
    border-left-style inset inset,
    border-left-style outset outset,

    border-radius xxs 1px,
    border-radius xs 2px,
    border-radius s 3px,
    border-radius m 4px,
    border-radius l 6px,
    border-radius xl 8px,
    border-radius xxl 10px,
    border-radius pill 5em,
    border-radius round 50%,

    border-top-left-radius xxs 1px,
    border-top-left-radius xs 2px,
    border-top-left-radius s 3px,
    border-top-left-radius m 4px,
    border-top-left-radius l 6px,
    border-top-left-radius xl 8px,
    border-top-left-radius xxl 10px,
    border-top-left-radius pill 5em,
    border-top-left-radius round 50%,

    border-top-right-radius xxs 1px,
    border-top-right-radius xs 2px,
    border-top-right-radius s 3px,
    border-top-right-radius m 4px,
    border-top-right-radius l 6px,
    border-top-right-radius xl 8px,
    border-top-right-radius xxl 10px,
    border-top-right-radius pill 5em,
    border-top-right-radius round 50%,

    border-bottom-right-radius xxs 1px,
    border-bottom-right-radius xs 2px,
    border-bottom-right-radius s 3px,
    border-bottom-right-radius m 4px,
    border-bottom-right-radius l 6px,
    border-bottom-right-radius xl 8px,
    border-bottom-right-radius xxl 10px,
    border-bottom-right-radius pill 5em,
    border-bottom-right-radius round 50%,

    border-bottom-left-radius xxs 1px,
    border-bottom-left-radius xs 2px,
    border-bottom-left-radius s 3px,
    border-bottom-left-radius m 4px,
    border-bottom-left-radius l 6px,
    border-bottom-left-radius xl 8px,
    border-bottom-left-radius xxl 10px,
    border-bottom-left-radius pill 5em,
    border-bottom-left-radius round 50%,

    border-color pink #ffc0cb,
    border-color lightpink #ffb6c1,
    border-color hotpink #ff69b4,
    border-color deeppink #ff1493,
    border-color palevioletred #db7093,
    border-color mediumvioletred #c71585,
    border-color lightsalmon #ffa07a,
    border-color salmon #fa8072,
    border-color darksalmon #e9967a,
    border-color lightcoral #f08080,
    border-color indianred #cd5c5c,
    border-color crimson #dc143c,
    border-color firebrick #b22222,
    border-color darkred #8b0000,
    border-color red #ff0000,
    border-color orangered #ff4500,
    border-color tomato #ff6347,
    border-color coral #ff7f50,
    border-color darkorange #ff8c00,
    border-color orange #ffa500,
    border-color gold #ffd700,
    border-color yellow #ffff00,
    border-color lightyellow #ffffe0,
    border-color lemonchiffon #fffacd,
    border-color lightgoldenrodyellow #fafad2,
    border-color papayawhip #ffefd5,
    border-color moccasin #ffe4b5,
    border-color peachpuff #ffdab9,
    border-color palegoldenrod #eee8aa,
    border-color khaki #f0e68c,
    border-color darkkhaki #bdb76b,
    border-color cornsilk #fff8dc,
    border-color blanchedalmond #ffebcd,
    border-color bisque #ffe4c4,
    border-color navajowhite #ffdead,
    border-color wheat #f5deb3,
    border-color burlywood #deb887,
    border-color tan #d2b48c,
    border-color rosybrown #bc8f8f,
    border-color sandybrown #f4a460,
    border-color goldenrod #daa520,
    border-color darkgoldenrod #b8860b,
    border-color peru #cd853f,
    border-color chocolate #d2691e,
    border-color saddlebrown #8b4513,
    border-color sienna #a0522d,
    border-color brown #a52a2a,
    border-color maroon #800000,
    border-color darkolivegreen #556b2f,
    border-color olive #808000,
    border-color olivedrab #6b8e23,
    border-color yellowgreen #9acd32,
    border-color limegreen #32cd32,
    border-color lime #00ff00,
    border-color lawngreen #7cfc00,
    border-color chartreuse #7fff00,
    border-color greenyellow #adff2f,
    border-color springgreen #00ff7f,
    border-color mediumspringgreen #00fa9a,
    border-color lightgreen #90ee90,
    border-color palegreen #98fb98,
    border-color darkseagreen #8fbc8f,
    border-color mediumseagreen #3cb371,
    border-color seagreen #2e8b57,
    border-color forestgreen #228b22,
    border-color green #008000,
    border-color darkgreen #006400,
    border-color mediumaquamarine #66cdaa,
    border-color aqua #00ffff,
    border-color cyan #00ffff,
    border-color lightcyan #e0ffff,
    border-color paleturquoise #afeeee,
    border-color aquamarine #7fffd4,
    border-color turquoise #40e0d0,
    border-color mediumturquoise #48d1cc,
    border-color darkturquoise #00ced1,
    border-color lightseagreen #20b2aa,
    border-color cadetblue #5f9ea0,
    border-color darkcyan #008b8b,
    border-color teal #008080,
    border-color lightsteelblue #b0c4de,
    border-color powderblue #b0e0e6,
    border-color lightblue #add8e6,
    border-color skyblue #87ceeb,
    border-color lightskyblue #87cefa,
    border-color deepskyblue #00bfff,
    border-color dodgerblue #1e90ff,
    border-color cornflowerblue #6495ed,
    border-color steelblue #4682b4,
    border-color royalblue #4169e1,
    border-color blue #0000ff,
    border-color mediumblue #0000cd,
    border-color darkblue #00008b,
    border-color navy #000080,
    border-color midnightblue #191970,
    border-color lavender #e6e6fa,
    border-color thistle #d8bfd8,
    border-color plum #dda0dd,
    border-color violet #ee82ee,
    border-color orchid #da70d6,
    border-color fuchsia #ff00ff,
    border-color magenta #ff00ff,
    border-color mediumorchid #ba55d3,
    border-color mediumpurple #9370db,
    border-color blueviolet #8a2be2,
    border-color darkviolet #9400d3,
    border-color darkorchid #9932cc,
    border-color darkmagenta #8b008b,
    border-color purple #800080,
    border-color indigo #4b0082,
    border-color darkslateblue #483d8b,
    border-color slateblue #6a5acd,
    border-color mediumslateblue #7b68ee,
    border-color white #ffffff,
    border-color snow #fffafa,
    border-color honeydew #f0fff0,
    border-color mintcream #f5fffa,
    border-color azure #f0ffff,
    border-color aliceblue #f0f8ff,
    border-color ghostwhite #f8f8ff,
    border-color whitesmoke #f5f5f5,
    border-color seashell #fff5ee,
    border-color beige #f5f5dc,
    border-color oldlace #fdf5e6,
    border-color floralwhite #fffaf0,
    border-color ivory #fffff0,
    border-color antiquewhite #faebd7,
    border-color linen #faf0e6,
    border-color lavenderblush #fff0f5,
    border-color mistyrose #ffe4e1,
    border-color gainsboro #dcdcdc,
    border-color lightgray #d3d3d3,
    border-color silver #c0c0c0,
    border-color darkgray #a9a9a9,
    border-color gray #808080,
    border-color dimgray #696969,
    border-color lightslategray #778899,
    border-color slategray #708090,
    border-color darkslategray #2f4f4f,
    border-color black #000000,

    border-collapse collapse collapse,
    border-collapse separate separate,
    border-collapse inherit inherit,

    cursor auto auto,
    cursor default default,
    cursor none none,
    cursor context-menu context-menu,
    cursor help help,
    cursor pointer pointer,
    cursor progress progress,
    cursor wait wait,
    cursor cell cell,
    cursor crosshair crosshair,
    cursor text text,
    cursor vertical-text vertical-text,
    cursor alias alias,
    cursor copy copy,
    cursor move move,
    cursor no-drop no-drop,
    cursor not-allowed not-allowed,
    cursor e-resize e-resize,
    cursor n-resize n-resize,
    cursor ne-resize ne-resize,
    cursor nw-resize nw-resize,
    cursor s-resize s-resize,
    cursor se-resize se-resize,
    cursor sw-resize sw-resize,
    cursor w-resize w-resize,
    cursor ew-resize ew-resize,
    cursor ns-resize ns-resize,
    cursor nesw-resize nesw-resize,
    cursor nwse-resize nwse-resize,
    cursor col-resize col-resize,
    cursor row-resize row-resize,
    cursor all-scroll all-scroll,
    cursor zoom-in zoom-in,
    cursor zoom-out zoom-out,

    position static static,
    position relative relative,
    position absolute absolute,
    position fixed fixed,

    top auto auto,
    top inherit inherit,
    top 0 0,
    top xxs 0.25rem,
    top xs 0.5rem,
    top s 1rem,
    top m 2rem,
    top l 4rem,
    top xl 8rem,
    top xxl 16rem,

    right auto auto,
    right inherit inherit,
    right 0 0,
    right xxs 0.25rem,
    right xs 0.5rem,
    right s 1rem,
    right m 2rem,
    right l 4rem,
    right xl 8rem,
    right xxl 16rem,

    bottom auto auto,
    bottom inherit inherit,
    bottom 0 0,
    bottom xxs 0.25rem,
    bottom xs 0.5rem,
    bottom s 1rem,
    bottom m 2rem,
    bottom l 4rem,
    bottom xl 8rem,
    bottom xxl 16rem,

    left auto auto,
    left inherit inherit,
    left 0 0,
    left xxs 0.25rem,
    left xs 0.5rem,
    left s 1rem,
    left m 2rem,
    left l 4rem,
    left xl 8rem,
    left xxl 16rem,

    display none none,
    display inline inline,
    display block block,
    display inline-block inline-block,
    display list-item list-item,
    display inline-table inline-table,
    display table table,
    display table-cell table-cell,
    display table-column table-column,
    display table-column-group table-column-group,
    display table-footer-group table-footer-group,
    display table-header-group table-header-group,
    display table-row table-row,
    display table-row-group table-row-group,
    display flex flex,
    display inline-flex inline-flex,
    display grid grid,
    display inline-grid inline-grid,
    display run-in run-in,

    clear none none,
    clear left left,
    clear right right,
    clear both both,

    text-align left left,
    text-align right right,
    text-align center center,
    text-align justify justify,
    text-align start start,
    text-align end end,
    text-align match-parent match-parent,
    text-align start-end (start end),
    text-align period ".",
    text-align start-period (start "."),
    text-align period-end ("." end),

    text-decoration underline underline,
    text-decoration overline overline,
    text-decoration line-through line-through,
    text-decoration blink blink,
    text-decoration none none,

    text-transform capitalize capitalize,
    text-transform uppercase uppercase,
    text-transform lowercase lowercase,
    text-transform none none,
    text-transform full-width full-width,

    text-overflow clip clip,
    text-overflow ellipsis ellipsis,
    text-overflow … ("…"),
    text-overflow clip ellipsis clip ellipsis,
    text-overflow …… ("…" "…"),
    text-overflow inherit inherit,

    text-rendering auto auto,
    text-rendering optimizeSpeed optimizeSpeed,
    text-rendering optimizeLegibility optimizeLegibility,
    text-rendering geometricPrecision geometricPrecision,
    text-rendering inherit inherit,

    text-underline-position auto auto,
    text-underline-position under under,
    text-underline-position left left,
    text-underline-position right right,
    text-underline-position under-left (under left),
    text-underline-position right-under (right under),
    text-underline-position inherit inherit,

    font-style normal normal,
    font-style italic italic,
    font-style oblique oblique,

    font-weight normal normal,
    font-weight bold bold,
    font-weight lighter lighter,
    font-weight bolder bolder,
    font-weight 100 100,
    font-weight 200 200,
    font-weight 300 300,
    font-weight 400 400,
    font-weight 500 500,
    font-weight 600 600,
    font-weight 700 700,
    font-weight 800 800,
    font-weight 900 900,

    font-size xx-small xx-small,
    font-size x-small x-small,
    font-size small small,
    font-size medium medium,
    font-size large large,
    font-size x-large x-large,
    font-size xx-large xx-large,
    font-size larger larger,
    font-size smaller smaller,
    font-size inherit inherit,
    font-size xxs 0.5rem,
    font-size xs 0.625rem,
    font-size s 0.8rem,
    font-size m 1rem,
    font-size l 1.5rem,
    font-size xl 3rem,
    font-size xxl 6rem,

    font-family serif (Georgia, serif),
    font-family sans-serif (Helvetica, Arial, sans-serif),
    font-family fantasy fantasy,
    font-family cursive cursive,
    font-family monospace monospace,
    font-family playfair-display ("Playfair Display", Georgia, serif),

    font-variant normal normal,
    font-variant small-caps small-caps,
    font-variant inherit inherit,

    opacity 10 0.1,
    opacity 20 0.2,
    opacity 30 0.3,
    opacity 40 0.4,
    opacity 50 0.5,
    opacity 60 0.6,
    opacity 70 0.7,
    opacity 80 0.8,
    opacity 90 0.9,
    opacity 100 1,

    overflow visible visible,
    overflow hidden hidden,
    overflow scroll scroll,
    overflow auto auto,

    vertical-align baseline baseline,
    vertical-align sub sub,
    vertical-align super super,
    vertical-align text-top text-top,
    vertical-align text-bottom text-bottom,
    vertical-align middle middle,
    vertical-align top top,
    vertical-align bottom bottom,

    visibility visible visible,
    visibility hidden hidden,
    visibility collapse collapse,

    backface-visibility visible visible,
    backface-visibility hidden hidden,

    z-index 1 1,
    z-index 2 2,
    z-index 3 3,
    z-index 4 4,
    z-index 5 5,
    z-index 6 6,
    z-index 7 7,
    z-index 8 8,
    z-index 9 9,
    z-index 9999 9999;

@each $item in $items {
    $property: nth($item, 1);
    $key: nth($item, 2);
    $value: nth($item, 3);

    %#{$property}_#{$key} { #{$property}: $value; }
}
