@each $item in $border-width {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %border-width_#{$key} { border-width: $value; }
    %border-top-width_#{$key} { border-top-width: $value; }
    %border-right-width_#{$key} { border-right-width: $value; }
    %border-bottom-width_#{$key} { border-bottom-width: $value; }
    %border-left-width_#{$key} { border-left-width: $value; }
}

@each $item in $border-style {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %border-style_#{$key} { border-style: $value; }
    %border-top-style_#{$key} { border-top-style: $value; }
    %border-right-style_#{$key} { border-right-style: $value; }
    %border-bottom-style_#{$key} { border-bottom-style: $value; }
    %border-left-style_#{$key} { border-left-style: $value; }
}

@each $item in $color {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %border-color_#{$key} { border-color: $value; }
    %border-top-color_#{$key} { border-top-color: $value; }
    %border-right-color_#{$key} { border-right-color: $value; }
    %border-bottom-color_#{$key} { border-bottom-color: $value; }
    %border-left-color_#{$key} { border-left-color: $value; }
}
