@each $item in $spacing {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %margin_#{$key} { margin: $value; }
    %margin-top_#{$key} { margin-top: $value; }
    %margin-right_#{$key} { margin-right: $value; }
    %margin-bottom_#{$key} { margin-bottom: $value; }
    %margin-left_#{$key} { margin-left: $value; }
}
