@each $item in $spacing {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %padding_#{$key} { padding: $value; }
    %padding-top_#{$key} { padding-top: $value; }
    %padding-right_#{$key} { padding-right: $value; }
    %padding-bottom_#{$key} { padding-bottom: $value; }
    %padding-left_#{$key} { padding-left: $value; }
}
