@each $item in $text-align {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %text-align_#{$key} { text-align: $value; }
}

@each $item in $text-decoration {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %text-decoration_#{$key} { text-decoration: $value; }
}

@each $item in $text-transform {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %text-transform_#{$key} { text-transform: $value; }
}

@each $item in $text-overflow {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %text-overflow_#{$key} { text-overflow: $value; }
}

@each $item in $text-rendering {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %text-rendering_#{$key} { text-rendering: $value; }
}

@each $item in $text-underline-position {
    $key: nth($item, 1);
    $value: nth($item, 2);

    %text-underline-position_#{$key} { text-underline-position: $value; }
}
